.Focus{
    position: relative;
    width:50vw;
    height:40vh;
    display:block;
    padding:0;
    text-align: center;
}

.Focus *{
    margin:0;
    padding:0;
}

.Focus #main{
    position: absolute;
    left:50%;
    top:40%;
    transform: translate(-50%,-50%);
    font-size: 80px;
}

.Focus #count{
    position: absolute;
    top:5%;
    left:50%;
    transform: translate(-50%,-50%);
}

.Focus #next{
    top:50%;
    left:90%;
    transform: translate(-50%,-50%);
    position: absolute;
    font-size: 32px;
}

.Focus #prev{
    top:50%;
    left:10%;
    transform: translate(-50%,-50%);
    position: absolute;
    font-size: 32px;
}

.Focus #change1{
    top:88%;
    left:25%;
    transform: translate(-50%,-50%);
    position: absolute;
    color:royalblue;
    font-size: 29px;
    padding:5px;
    border:1px solid black;
    border-radius: 10px;
    font-weight: bold;
}

.Focus #change2{
    top:88%;
    left:75%;
    transform: translate(-50%,-50%);
    position: absolute;
    color:royalblue;
    font-size: 29px;
    padding:5px;
    border:1px solid black;
    border-radius: 10px;
    font-weight: bold;
}

.close_button{
    position: absolute;
    padding:0;
    margin:0;
    font-size: 2em;
    top:15px;
    right:5px;
    transform: translate(-50%,-50%);
    width:2em;
    transition:all 0.5s linear;
}

.close_button:hover{
    color:orange;
}
