.form {
    width:300px;
    max-width: 100%;
    padding:20px;
    position:relative;
}

.form .cross{
    position:absolute;
    top:0px;
    right:10%;
    width: 20px;
    height: 20px;
}

.form *{
    box-sizing:border-box;
}

.form h2{
    text-align:center;
    margin:0 0 20px;
}

.form button{
    text-align:center;
}

.form-control{
    margin-bottom:10px;
    padding-bottom: 20px;
    position:relative;
}

.form-control label{
    color:#777;
    display:block;
    margin-bottom:5px;
}

.form-control input{
    border: 2px solid #777;
    border-radius:4px;
    display:block;
    width:100%;
    padding:10px;
    font-size:14px;
    transition: border 0.1s ease;
}

.form-control input:focus{
    outline: 0;
    border-width: 3px;
    border-color: black;
}

.form button{
    cursor:pointer;
    background-color:#3458db;
    border: 2px solid #3498db;
    border-radius: 4px;
    color:#fff;
    display:block;
    font-size:16px;
    padding:10px;
    margin-top:20px;
    width:100%;
}

.close-icon {
  position: sticky;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  margin-top: 10px;
}

.close-icon:before, .close-icon:after {
  position: absolute;
  left: 20px;
  content: ' ';
  height: 25px;
  width: 2px;
  background-color: black;
}

.close-icon:before {
  transform: rotate(45deg);
}

.close-icon:after {
  transform: rotate(-45deg);
}

.small{
    color:red;
    font-size:0.5em;
}
