.box-component-HOC{
    z-index:1000;
    position: fixed;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    overflow:hidden;
}

.box-component-container{
    max-width:100%;
    padding:20px;
    box-shadow: 1px 1px 0px blue;
    background-color:white;
    border:3px solid #7a96c2;
    border-radius:10px;
}
